:root {
    --c-white-primary: #fdfdfd;
    --c-white-secondy: #9c8c74;
    /* --c-white-primary: #fefefe; */
    --c-black-primary: #0a0c0d;
    --c-black-secondy: #333237;

    --c-orange: #f8b34f;
    --c-yellow: #eccc78;
    --c-brown: #6c4c1c;
    --c-disabled-dark: #d5ccbd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

section {
    height: calc(100% - 25px);
}

footer {
    width: 100%;
    height: 25px;
}

footer address {
    text-align: center;
}

body.dark .line,
body {
    background: var(--c-white-primary);
}

.line,
body.dark {
    background: var(--c-black-secondy);
}

body input {
    background: transparent;
    border: none;
    outline: none;
}

body button {
    background: var(--c-orange);
    cursor: pointer;
}


body button:hover {
    background: var(--c-yellow);
}

body.dark {

}

body input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--c-white-primary) inset;
}

body.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--c-black-secondy) inset;
}
