:root {
    --height-footer: 20px;
}

header {
    display: none;
}

section {
    width: 100%;
    height: calc(100% - var(--height-footer));
    position: absolute;
    top: 0;
    left: 0;
    transition: left .5s;
}

section.close {
    left: -100%;
}

#section-page {
    z-index: 90;
}

#section-login {
    z-index: 99;
}

section iframe {
    width: 100%;
    height: 100%;
}

form {
    --width-form: 220px;
    width: var(--width-form);
    position: absolute;
    top: 30%;
    left: calc(50% - var(--width-form) / 2);
    border-radius: 7px;
    border: 1px solid var(--c-black-secondy);
    display: flex;
    flex-direction: column;
    padding: 5px;
}


figure {
    --size-img: 130px;
    width: var(--size-img);
    height: var(--size-img);
    position: absolute;
    top: -112px;
    right: -12px;
}

figure img {
    width: 100%;
    height: 100%;
}


form label {
    position: relative;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    height: 40px;
}

form label[for="email"] {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left;
}

form label[for="email"].open {
    overflow: visible;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}

form label i {
    font-size: 16px;
}

form label input {
    width: 175px;
}

form label input:focus ~ .line, 
form label input:active ~ .line {
    width: 195px;
} 

form label input ~ .line {
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 7px;
    transition: .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

form label span {
    position: absolute;
    width: 100%;
    float: left;
    left: 21px;
    top: 33PX;
    font-size: 13px;
    color: red;
    
}

form label#new-user p {
    position: absolute;
    font-size: 13px;
}

.buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    /* gap: 10px; */
}

.buttons button {
    padding: 4px 20px;
    border: none;
    outline: none;
    border-radius: 7px;
    transition: background .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer {
    height: var(--height-footer);

}
